.App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000;
    flex-wrap: wrap;
    color: #FFF;
    height: 80vh;
}

.filter-active {
    background-color: #45ff13;
}

.todoList {
    width: 250px;
    border: #29f1e4 solid 3px;
    border-radius: 50px;
    margin: 10px 0;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {

}

.todoList-newTaskForm {
    margin: 10px;
}

.todoList-task.done {
    opacity: 0.5;
}

.todoList-header__title {
    text-align: center;
    font-size: 26px;
    color: #92ff44;
    text-decoration: underline;
}

.error {
    border-color: red;
}

.hideShow {
    margin-top: 10px;
    font-weight: bold;
    background-color: #ccc;
    color: brown;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid brown;
    border-radius: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.todoList-footer button {
    font-weight: bold;
    padding: 5px;
    margin: 0 3px;
}

.buttonFooter {
    display: flex;
    justify-content: space-evenly;
}
